.main {
  padding: 80px;
}

.main__container {
  max-width: 1200px;
}

.main__section {
  margin-bottom: 64px;
}

.main__title {
  font-family: var(--font-family-headers);
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-bold);
  color: #1a1b22;
  margin-bottom: 32px;
}

.main__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  font-family: var(--font-family-main);
  font-size: var(--font-size-m);
  color: #ff0000;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.05);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.5;
  box-shadow: 0 2px 10px rgba(255, 0, 0, 0.1);
}
