.saved-news {
  padding: 62px 102px;
  min-height: 70vh;
  background-color: #f5f6f7;
}

.saved-news__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.saved-news__title {
  color: #1a1b22;
  margin-bottom: 24px;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  line-height: 46px;
  font-weight: 400;
}

.saved-news__description {
  font-family: var(--font-family-main);
  font-size: var(--font-size-l);
  color: #666;
  margin-bottom: 56px;
}

.saved-news__content {
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saved-news__articles {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 16px;
  width: 100%;
  justify-content: center;
}

.saved-news__empty {
  text-align: center;
  padding: 40px 0;
}

.saved-news__empty-message {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #666;
}

/* SavedNewsHeader Styles */
.saved-news-header {
  background-color: #fff;
  padding: 40px 0;
  width: 100%;
}

.saved-news-header__container {
  max-width: 1200px;
  padding: 0 104px;
}

.saved-news-header__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1a1b2280;
  letter-spacing: 0.4px;
  margin: 0 0 24px;
  font-weight: 400;
  line-height: 24px;
}

.saved-news-header__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 400;
  color: #1a1b22;
  margin: 0 0 16px;
  max-width: 530px;
  line-height: 46px;
}

.saved-news-header__keywords {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #1a1b22;
  margin: 0;
}

.saved-news-header__keywords-list {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .saved-news-header__title {
    font-size: 32px;
  }

  .saved-news-header {
    padding: 32px 0;
  }
}

@media screen and (max-width: 480px) {
  .saved-news-header__title {
    font-size: 24px;
  }

  .saved-news-header {
    padding: 24px 0;
  }

  .saved-news-header__subtitle {
    margin-bottom: 16px;
  }

  .saved-news-header__keywords {
    font-size: 16px;
  }
}

@media screen and (max-width: 1250px) {
  .saved-news__articles {
    grid-template-columns: repeat(2, 400px);
  }
}

@media screen and (max-width: 850px) {
  .saved-news__articles {
    grid-template-columns: 400px;
  }
}
