.header {
  background-image: url("../../assets/Header_Background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  min-height: 576px; /* Increased height to ensure full coverage */
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
.header__nav-container {
  display: flex;
  align-items: flex-end;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 -1px #fff3 inset;
}

.header__logo-container {
  max-width: 200px;
}

.header__text-container {
  margin: 0 auto;
  max-width: 608px;
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
  padding-top: 80px;
}

.header__title {
  font-size: 60px;
  font-family: var(--font-family-headers);
  font-weight: var(--font-weight-regular);
  line-height: 64px;
  color: #fff !important;
  margin: 0;
}

.header__subtitle {
  margin: 0;
  color: #fff;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-regular);
  font-size: 18px;
  line-height: 24px;
  padding-top: 32px;
}

.header__logo {
  font-family: var(--font-family-headers);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  margin: 0;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .header {
    min-height: 400px;
  }

  .header__nav-container {
    padding: 0px; /* Adjusted padding for tablets */
  }

  .header__text-container {
    padding-left: 163px;
    padding-top: 38px;
    box-sizing: border-box;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
    padding: 0;
    margin: 0;
    color: #fff !important;
    max-width: 385px;
    text-align: left;
  }

  .header__subtitle {
    padding: 23px 0 0 0;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    max-width: 452px;
    text-align: left;
  }

  /* Incorporated styles from 600px media query */
  .header__text-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 350px;
  }

  .header__nav-container {
    margin: 0px; /* Adjusted padding for mobile */
  }

  .header__text-container {
    max-width: 100%;
    padding-top: 30px;
    padding-left: 0px;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;
    color: #fff !important;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 24px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 596px; /* Increased height to accommodate repositioned search form */
  }

  .header__text-container {
    max-width: 100%;
    padding-top: 20px;
    margin-bottom: 0;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    padding: 30px 16px 0;
  }

  .header__subtitle {
    font-size: 18px;
    line-height: 24px;
    padding: 16px;
    text-align: left;
  }
}
